# Ignore system files and directories
.DS_Store
.Trash/
.bash_history
.bash_profile
.bashrc
.zshrc
.zsh_history
.zsh_sessions
.npm/
.config/
.local/
.vscode/

# Ignore parent directories and everything outside the project folder
../*

# Ignore other system files or hidden files
*.log
*.tmp
*.bak

# Ignore node modules and package-lock.json
node_modules/
package-lock.json